.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}

.animal {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}

img {
    width: 50px;
}
